#Purposeless {
    margin: 10px;
    font-family: "Arial";
    width: 300px;
    height: 300px;
    font-size: 50px;
    color: yellow;
    border-radius: 500px;
    background-color: gray;
}

img {
    width: 350px;
}

body {
    text-align: center;
    font-family: "Arial";
    color: #99ff99;
    background-color: #1a3300;
}

